body {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  background-color: antiquewhite;
  width: 750px;
  margin: 48px auto;
  padding-left: 24px;
  padding-right: 24px;
}

h1,
h2 {
  color: white;
  font-family: 'Copperplate';
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 52px;
  padding-top: 24px;
  padding-bottom: 24px;
}

h2 {
  font-size: 32px;
  padding: 12px;
}

p,
li {
  font-family: Helvetica, sans-serif;
}

.header {
  width: 750px;
  margin-bottom: 24px;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.section {
  margin-top: 48px;
}