body {
  background-color: antiquewhite;
  font-family: "Copperplate", sans-serif;
  text-align: center
}

h1 {
  color: white;
  background-color: black;
  text-align: center;
  padding: 12px;
  font-weight: bold;
  font-size: 60px;
}

.group {
  width: 1250px;
  margin: 24px auto;
}

.recipe {
  display: inline-block;
  text-align: center;
  margin: 12px 52px;
  width: 300px;
}

.recipe img {
  height: auto;
  width: inherit;
  padding: 0;
}

.recipe-link {
  font-size: 24px;
  text-align: center;
  height: auto;
  width: inherit;
}

.recipe-link#beef-ribs {
  padding-top: 24px;
}


#reference{
  font-size: 20px;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;;
}

#github-logo {
  height: auto;
  width: 20px;
  margin-left: 6px;
}